azulOscuro = #0B0b61
grisFondo = #E8E8E8
azul = #22BCE0
tamanoLetra = 16px
naranja = #DD4F24
azulMensaje= #E0F8F7

body
	background grisFondo
	font-family Arial
	font-size tamanoLetra
	
	footer
		background naranja
		color white
		text-align center
		padding 0.8em  0
		position absolute
		top 600px
		width 1450px
		
		h3
			font-size 14px
			font-weight normal
	
	header 
		background azulOscuro
		color white	
		overflow hidden
		position relative
		
		.header-log				
			float left
			padding 1em
			width 100px			
			
			img
				border-right 1px solid white
				heigth 70px
				padding 0.8em 
				width 80px
				
		.header-titulo
			font-size 16px
			margin 50px 0  0 200px

			
		.header-avatar
			position absolute
			right 30px
			top 1px		
			
			img
				border-radius 60%
				width 70px
	nav
		background azul
		border-left 20px solid white
		
		.menu-ppal
			height 40px
			line-height 40px
			margin 0
			padding 0
			
			li
				display inline-block
				
				a
					color white
					display inline-block					
					padding 0 1em
					text-decoration none					
					
					&:hover
						background rgba(black, 0.1)
						
	section
		.mensaje_envia			
			width 500px
			height 120px			
			position absolute
			left 200px
			top 250px		
		.section-avatar
						
			img
				border-radius 60%
				width 50px
				position absolute
				left 150px	
				top 250px	
		.me_textarea			
			left 20px
			position absolute
			top 10px			
			
			textarea
				background-color azulMensaje
				border-radius 25px
		.me_fecha
			left 360px
			position absolute
			width 200px
			border none solid
			box-shadow none
			top 70px
			font-size 10px
			text-align left
		.mensaje_recibe			
			width 500px
			height 120px			
			position absolute
			left 300px
			top 350px
			.nombre_recibe
				position absolute
				
		.section-avatar2
						
			img
				border-radius 60%
				width 50px
				position absolute
				left 760px	
				top 350px
		.escribe_mesanje
			position absolute
			top 470px
			left 220px
			width 1500px		
			
			
			
	    
		    

	